{% extends 'app/base/base.html' %}
{% block content %}
    <div class="breadcumb-section">
        <div class="breadcumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-content">
                            <h1 class="breadcumb-title">{{ model.name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding">
        <div class="container">
            <div class="tinv-wishlist woocommerce tinv-wishlist-clear">
                <div class="tinv-header">
                    <h2 class="mb-30">{{ model.name }}</h2>
                </div>
                <form method="post" class="woocommerce-cart-form">
                    {% csrf_token %}
                    <table class="cart_table mb-20">
                        <thead>
                        <tr>
                            <th class="cart-col-image">Suraty</th>
                            <th class="cart-colname">Ady</th>
                            <th class="cart-col-price">Bahasy</th>
                            <th class="cart-col-quantity">Mukdary</th>
                            <th class="cart-col-total">Jemi</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_model in cart_models %}
                            <tr class="cart_item">
                                <td data-title="{{ cart_model.product_pk.name }}">
                                    <a class="cartimage" href="#">
                                        <img width="91" height="91" src="/media/{{ cart_model.image }}" alt="Image">
                                    </a>
                                </td>
                                <td data-title="Name">
                                    <a class="cartname" href="#">{{ cart_model.product_fk.name }}</a>
                                </td>
                                <td data-title="Price">
                                <span class="amount">
                                    <bdi>
                                        <span>
                                             {% if cart_model.product_fk.expensive_price %}
                                                 {{ cart_model.product_fk.expensive_price }}
                                             {% else %}
                                                 {{ cart_model.product_fk.price }}
                                             {% endif %}
                                        </span>
                                       TMT
                                    </bdi>
                                </span>
                                </td>
                                <td data-title="Quantity">
                                    <strong class="product-quantity">{{ cart_model.quantity }}</strong>
                                </td>
                                <td data-title="Total">
                                <span class="amount">
                                    <bdi>
                                        <span>
                                            {{ cart_model.total }}
                                        </span>
                                        TMT
                                    </bdi>
                                </span>
                                </td>
                            </tr>
                        {% empty %}

                        {% endfor %}
                        </tbody>
                        <tfoot class="checkout-ordertable">
                        <tr class="cart-subtotal">
                            <th>Sebetdäki harytlaryň bahasy</th>
                            <td data-title="Sebetdäki harytlaryň bahasy" colspan="4">
                            <span class="woocommerce-Price-amount amount">
                                <bdi>
                                    <span class="woocommerce-Price-currencySymbol">
                                        {{ cart_total }}
                                    </span>
                                    TMT
                                </bdi>
                            </span>
                            </td>
                        </tr>
                        <tr class="woocommerce-shipping-totals shipping">
                            <th>Eltip bermek hyzmaty</th>
                            <td data-title="service" colspan="4">
                            <span>
                               {{ services }}
                            </span>
                                {% if services == 'Mugt' %}
                                {% else %}
                                    TMT
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th>Jemi</th>
                            <td data-title="Total" colspan="4">
                                <strong>
                                <span class="woocommerce-Price-amount amount">
                                    <bdi>
                                        <span class="woocommerce-Price-currencySymbol">
                                            {{ total }}
                                        </span>
                                      TMT
                                    </bdi>
                                </span>
                                </strong>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}