<div id="dms_sidebar" class="app-sidebar  flex-column "
     data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}"
     data-kt-drawer-overlay="true" data-kt-drawer-width="250px"
     data-kt-drawer-direction="start" data-kt-drawer-toggle="#dms_sidebar_mobile_toggle">
    <div id="dms_sidebar_wrapper" class="app-sidebar-wrapper hover-scroll-y my-5 my-lg-2"
         data-kt-scroll="true"
         data-kt-scroll-activate="{default: false, lg: true}"
         data-kt-scroll-height="auto"
         data-kt-scroll-dependencies="#dms_header"
         data-kt-scroll-wrappers="#dms_sidebar_wrapper"
         data-kt-scroll-offset="5px">
        <div data-kt-menu="true" data-kt-menu-expand="false"
             class="app-sidebar-menu-primary menu menu-column menu-rounded menu-sub-indention menu-state-bullet-primary px-6 mb-5">
            <div class="menu-item menu-accordion">
                {% url 'Manager:dashboard' as Dashboard %}
                <a href="{% url 'Manager:dashboard' %}" class="menu-link {% if request.path == Dashboard %}active{% endif %}">
                        <span class="menu-icon">
                            <i class="fas fa-home fs-2"></i>
                        </span>
                    <span class="menu-title">Baş sahypa</span>
                </a>
            </div>
            <div class="menu-item menu-accordion">
                {% url 'Manager:order_list' as Order %}
                <a href="{% url 'Manager:order_list' %}" class="menu-link {% if request.path == Order %}active{% endif %}">
                        <span class="menu-icon">
                            <i class="fas fa-cart-shopping fs-2"></i>
                        </span>
                    <span class="menu-title">Sargytlar</span>
                </a>
            </div>

        </div>
    </div>
</div>